<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <script src="angular.js"></script>
    <script src="AngScript.js"></script>
</head>
<body ng-app="MyFirstmodule">
    <div ng-controller="MyController">

        <h1>  {{title}}  </h1>


        Order By <select ng-model="sortColumn">
            <option value="firstname ">Name</option>
            <option value="lastname">LastName</option>
            <option value="gender">Gender</option>
        </select>
        Enter Rows  <input type="number" step="1" min="0" max="5" ng-model="limit" />
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>Gender</th>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="emp in employee | orderBy:sortColumn">
                    <td>{{ emp.firstname }}</td>
                    <td>{{ emp.Lastname }}</td>
                    <td>{{ emp.gender }}</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>
</html>
