
<div ng-controller="HomeController">

    <div class="container">
        <span class="label label-primary pull-right ">Welcome {{LoggedInUser | uppercase}}</span>
        <hr>
        <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal" ng-click="Add()">Add New</button>
        <h2>All Notes</h2>
        <div class="clearfix"></div>
        <hr>

        <div class="alert alert-info alert-dismissible" role="alert" ng-if="info">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="clearInfo()">&times;</span></button>
            {{info}}
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="note in result">
                    <td> {{ $index+1 }}.</td>
                    <td> {{note.Title}} </td>
                    <td>{{note.Description}}</td>
                    <td> <button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#myModalEdit" ng-click="GetDetails($index)">Edit</button> </td>
                    <td> <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#myModalDelete" ng-click="GetDetails($index)">Delete</button> </td>
                </tr>
            </tbody>
        </table>
    </div>
 
    <!--<script src="../js/bootstrap.min.js"></script>-->

    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new note</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="newNote.Title">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="newNote.Description">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveNote();">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <!-- Modal -->
    <div id="myModalEdit" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit This User</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="clickedNote.Title">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputDescription" placeholder="Email" ng-model="clickedNote.Description">
                            </div>
                        </div>

                       

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="SaveEdit()">Done</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div id="myModalDelete" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are You Sure?</h4>
                </div>
                <div class="modal-body">
                    <h3 style="color: red">You are going to delete the user "{{clickedNote.Title}} "". All information will be deleted and can't be undone. </h3>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="deleteNote()">Yes</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>


    <!--<div class="content">
    <h2>{{title}}</h2>  
       Welcome, {{username}}
    </div>
    <my-directive> my name is barat</my-directive>-->
</div>

